
body{
    background-color:#EAF6F6;
}
hr{
    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-right: 50px;
    width: 10%; 
}
h3{
    color: #1202f3;
}
h1 {
    color: #1202f3;
}